In [2]:
import pandas as pd

In [13]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"], index=["x","y","z"])

In [14]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [19]:
df["A"].shape

(3,)

In [20]:
coffee = pd.read_csv("https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv")

In [21]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35